%h1 Profile of #{@user.username}

%ul#details
  %li
    Username:
    = @user.email.split("@")[0]

%h3 Parks Visited:
%table#visited_parks
  %thead
    %tr
      %th Park Name: Location
  %tbody
    - if(@user.visited_parks != nil)
      - @user.visited_parks.split("; ").each do |park|
        - name = park.split(": ")
        %tr
          %td= link_to "#{park}", park_path(:name => name[0])
